In [1]:
from collections import namedtuple
from datetime import date
import pandas as pd

In [12]:
DATA_FILE = "https://bites-data.s3.us-east-2.amazonaws.com/weather-ann-arbor.csv"
STATION = namedtuple("Station", "ID Date Value")
df = pd.read_csv(DATA_FILE)

In [13]:
df.head()

            ID        Date Element  Data_Value
0  USW00094889  2014-11-12    TMAX          22
1  USC00208972  2009-04-29    TMIN          56
2  USC00200032  2008-05-26    TMAX         278
3  USC00205563  2005-11-11    TMAX         139
4  USC00200230  2014-02-27    TMAX        -106

In [14]:
df.columns

Index(['ID', 'Date', 'Element', 'Data_Value'], dtype='object')

In [65]:
df['Date'].max()

'2015-12-31'

In [66]:
df['Date'].min()

'2005-01-01'

In [67]:
# Remove Leap Days between min and max df dates. (2005-01-01 to 2015-12-31)
df = df[(df['Date'] != '2012-02-29') & (df['Date'] != '2008-02-29')]

In [24]:
station_ids = df['ID'].unique()

In [27]:
station_ids[0]

'USW00094889'

In [136]:
# Extract highest temperatures for each  day / station  between 2005-2015
# By Date
df.groupby(['Date', 'ID'])['Data_Value'].max()

Date        ID
2005-01-01  USC00200032     67
            USC00200228    150
            USC00200230    122
            USC00200842    144
            USC00201502    -39
                          ...
2015-12-31  USC00208972     -6
            USW00004848      6
            USW00014833    -10
            USW00014853     17
            USW00094889     -5
Name: Data_Value, Length: 83512, dtype: int64

In [95]:
# Extract lowest temperatures for each  day / station  between 2005-2015
# By Date
df.groupby(['Date', 'ID'])['Data_Value'].min()

Date        ID
2005-01-01  USC00200032   -28
            USC00200228   -39
            USC00200230   -39
            USC00200842   -22
            USC00201502   -39
                           ..
2015-12-31  USC00208972   -22
            USW00004848   -10
            USW00014833   -21
            USW00014853     0
            USW00094889   -21
Name: Data_Value, Length: 83512, dtype: int64

In [99]:
# Extract both highest and lowest temperatures for each  day / station  between 2005-2015
df.groupby(['Date', 'ID']).agg({'Data_Value': ['min', 'max']})

                       Data_Value
                              min  max
Date       ID
2005-01-01 USC00200032        -28   67
           USC00200228        -39  150
           USC00200230        -39  122
           USC00200842        -22  144
           USC00201502        -39  -39
...                           ...  ...
2015-12-31 USC00208972        -22   -6
           USW00004848        -10    6
           USW00014833        -21  -10
           USW00014853          0   17
           USW00094889        -21   -5

[83512 rows x 2 columns]

In [62]:
# Highs/Lows for 2015
df_2015 = df[df['Date'] >= '2015-01-01']

In [63]:
# Highs/Lows 2005-2014
df_04_15 = df[df['Date'] < '2015-01-01']

In [117]:
df_04_15.sort_values('Data_Value')

                 ID        Date Element  Data_Value
18319   USC00207312  2014-01-07    TMIN        -306
19030   USC00207320  2005-01-19    TMIN        -300
14755   USC00207312  2014-01-08    TMIN        -294
75541   USC00207308  2009-01-16    TMIN        -294
96531   USC00207312  2014-01-28    TMIN        -294
...             ...         ...     ...         ...
127802  USC00205822  2012-07-08    TMAX         394
150494  USW00014853  2012-07-04    TMAX         400
96316   USW00004848  2011-07-21    TMAX         406
143703  USW00014853  2012-06-28    TMAX         406
130948  USW00014853  2012-07-17    TMAX         406

[151328 rows x 4 columns]

In [121]:
df_04_15.sort_values('Data_Value').iloc[0]

ID            USC00207312
Date           2014-01-07
Element              TMIN
Data_Value           -306
Name: 18319, dtype: object

In [167]:
min_04_15 = df_04_15.sort_values('Data_Value').iloc[0]['Data_Value']

In [168]:
df_2015[df_2015['Data_Value'] < min_04_15]

                 ID        Date Element  Data_Value
127333  USC00208972  2015-02-21    TMIN        -322
128105  USC00203712  2015-02-21    TMIN        -322
137824  USC00208972  2015-02-20    TMIN        -322
140515  USC00201502  2015-02-20    TMIN        -317
141374  USW00094889  2015-02-20    TMIN        -343

In [169]:
max_04_15 = df_04_15.sort_values('Data_Value').iloc[-1]['Data_Value']

In [170]:
df_2015[df_2015['Data_Value'] > max_04_15]

Empty DataFrame
Columns: [ID, Date, Element, Data_Value]
Index: []

In [157]:
df_04_15.query('Date == "2012-07-17"').sort_values('Data_Value', ascending=False)

                 ID        Date Element  Data_Value
130948  USW00014853  2012-07-17    TMAX         406
131495  USW00094889  2012-07-17    TMAX         389
131646  USW00004848  2012-07-17    TMAX         383
130161  USC00201250  2012-07-17    TMAX         378
131447  USC00200230  2012-07-17    TMAX         378
130954  USW00014833  2012-07-17    TMAX         378
131460  USC00208080  2012-07-17    TMAX         372
130382  USC00200032  2012-07-17    TMAX         372
131620  USC00207308  2012-07-17    TMAX         367
131089  USC00200228  2012-07-17    TMAX         361
130128  USC00205050  2012-07-17    TMAX         361
131135  USC00207312  2012-07-17    TMAX         361
131141  USC00207320  2012-07-17    TMAX         356
131459  USC00201502  2012-07-17    TMAX         356
131400  USC00200842  2012-07-17    TMAX         356
131096  USC00202308  2012-07-17    TMAX         356
131707  USC00208202  2012-07-17    TMAX         356
130130  USC00203712  2012-07-17    TMAX         350
130119  USC00208972  2012-07-17    TMAX         350
130427  USC00200220  2012-07-17    TMAX         350
131430  USC00205451  2012-07-17    TMAX         350
131278  USC00205822  2012-07-17    TMAX         333
131394  USC00205563  2012-07-17    TMAX         333
131446  USC00200230  2012-07-17    TMIN         250
131648  USW00004848  2012-07-17    TMIN         239
130424  USC00200220  2012-07-17    TMIN         239
130955  USW00014833  2012-07-17    TMIN         239
130946  USW00014853  2012-07-17    TMIN         233
130381  USC00200032  2012-07-17    TMIN         228
131393  USC00205563  2012-07-17    TMIN         228
131429  USC00205451  2012-07-17    TMIN         217
131408  USC00201502  2012-07-17    TMIN         217
130140  USC00203712  2012-07-17    TMIN         211
131095  USC00202308  2012-07-17    TMIN         211
131140  USC00207320  2012-07-17    TMIN         211
131461  USC00208080  2012-07-17    TMIN         206
131277  USC00205822  2012-07-17    TMIN         200
131619  USC00207308  2012-07-17    TMIN         200
131112  USC00200228  2012-07-17    TMIN         200
131706  USC00208202  2012-07-17    TMIN         200
131396  USC00200842  2012-07-17    TMIN         194
131493  USW00094889  2012-07-17    TMIN         194
130126  USC00205050  2012-07-17    TMIN         194
130160  USC00201250  2012-07-17    TMIN         183
130118  USC00208972  2012-07-17    TMIN         183
131133  USC00207312  2012-07-17    TMIN         172

In [162]:
max_2015 = df_2015.sort_values('Data_Value', ascending=False).iloc[0]

In [163]:
min_2015 = df_2015.sort_values('Data_Value').iloc[0]

In [166]:
min_2015

ID            USW00094889
Date           2015-02-20
Element              TMIN
Data_Value           -343
Name: 141374, dtype: object