In [1]:
import os
from urllib.request import urlretrieve

import pandas as pd

TMP = os.getenv("TMP", "/tmp")
EXCEL = os.path.join(TMP, 'order_data.xlsx')
if not os.path.isfile(EXCEL):
    urlretrieve(
        'https://bites-data.s3.us-east-2.amazonaws.com/order_data.xlsx',
        EXCEL
    )

In [7]:
from datetime import datetime

In [5]:
df = pd.read_excel(EXCEL, sheet_name='SalesOrders')

In [6]:
df.head()

   OrderDate   Region      Rep    Item  Units  Unit Cost   Total
0 2018-01-06     East    Jones  Pencil     95       1.99  189.05
1 2018-01-23  Central   Kivell  Binder     50      19.99  999.50
2 2018-02-09  Central  Jardine  Pencil     36       4.99  179.64
3 2018-02-26  Central     Gill     Pen     27      19.99  539.73
4 2018-03-15     West  Sorvino  Pencil     56       2.99  167.44

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OrderDate  43 non-null     datetime64[ns]
 1   Region     43 non-null     object
 2   Rep        43 non-null     object
 3   Item       43 non-null     object
 4   Units      43 non-null     int64
 5   Unit Cost  43 non-null     float64
 6   Total      43 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 2.5+ KB

In [25]:
df['Year'] = pd.DatetimeIndex(df['OrderDate']).year

In [26]:
df.head()

   OrderDate   Region      Rep    Item  Units  Unit Cost   Total  Year
0 2018-01-06     East    Jones  Pencil     95       1.99  189.05  2018
1 2018-01-23  Central   Kivell  Binder     50      19.99  999.50  2018
2 2018-02-09  Central  Jardine  Pencil     36       4.99  179.64  2018
3 2018-02-26  Central     Gill     Pen     27      19.99  539.73  2018
4 2018-03-15     West  Sorvino  Pencil     56       2.99  167.44  2018

In [27]:
df.groupby(['Year', 'Region'])['Total'].sum()

Year  Region
2018  Central    3833.51
      East       5193.71
      West        231.12
2019  Central    7305.56
      East        808.38
      West       2255.60
Name: Total, dtype: float64

In [72]:
df.groupby('Rep', as_index=False)['Total'].sum().sort_values(by='Total', ascending=False).iloc[0]

Rep       Kivell
Total    3109.44
Name: 5, dtype: object

In [73]:
df.columns

Index(['OrderDate', 'Region', 'Rep', 'Item', 'Units', 'Unit Cost', 'Total',
       'Year'],
      dtype='object')

In [76]:
df.groupby('Item', as_index=False)['Units'].sum().sort_values(by='Units', ascending=False).iloc[0]

Item     Binder
Units       722
Name: 0, dtype: object