In [1]:
import pandas as pd

data = "https://s3.us-east-2.amazonaws.com/bites-data/menu.csv"
# load the data in once, functions will use this module object
df = pd.read_csv(data)

pd.options.mode.chained_assignment = None  # ignore warnings

In [2]:
df.head()

,Category,Item,Serving Size,Calories,Calories from Fat,Total Fat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,12,3.0,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,8.0,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10

In [6]:
df.sort_values('Calories', ascending=False).iloc[0]['Item']

'Chicken McNuggets (40 piece)'

In [7]:
df[['Item', 'Calories', 'Protein']]

                                                  Item  Calories  Protein
0                                         Egg McMuffin       300       17
1                                    Egg White Delight       250       18
2                                     Sausage McMuffin       370       14
3                            Sausage McMuffin with Egg       450       21
4                     Sausage McMuffin with Egg Whites       400       21
..                                                 ...       ...      ...
255                 McFlurry with Oreo Cookies (Small)       510       12
256                McFlurry with Oreo Cookies (Medium)       690       15
257                 McFlurry with Oreo Cookies (Snack)       340        8
258  McFlurry with Reese's Peanut Butter Cups (Medium)       810       21
259   McFlurry with Reese's Peanut Butter Cups (Snack)       410       10

[260 rows x 3 columns]

In [9]:
df[['Item', 'Calories', 'Protein']].sort_values('Calories')

                                                  Item  Calories  Protein
125                             Diet Dr Pepper (Child)         0        1
138                                  Iced Tea (Medium)         0        0
137                                   Iced Tea (Small)         0        0
136                                Dasani Water Bottle         0        0
145                                     Coffee (Small)         0        0
..                                                 ...       ...      ...
33   Big Breakfast with Hotcakes and Egg Whites (Re...       990       35
34   Big Breakfast with Hotcakes and Egg Whites (La...      1050       35
31       Big Breakfast with Hotcakes (Regular Biscuit)      1090       36
32         Big Breakfast with Hotcakes (Large Biscuit)      1150       36
82                        Chicken McNuggets (40 piece)      1880       87

[260 rows x 3 columns]

In [14]:
df_sub = df[df['Calories'] != 0]

In [17]:
cal_pro = df_sub[['Item', 'Calories', 'Protein']].sort_values('Calories')

In [21]:
cal_pro.columns

Index(['Item', 'Calories', 'Protein'], dtype='object')

In [22]:
cal_pro['Pro_Cal_Ratio'] = cal_pro['Protein'] / cal_pro['Calories']

In [29]:
list(cal_pro.sort_values('Pro_Cal_Ratio', ascending=False).head(5)['Item'])

['Premium Bacon Ranch Salad with Grilled Chicken',
 'Nonfat Latte (Small)',
 'Nonfat Latte (Large)',
 'Premium Southwest Salad with Grilled Chicken',
 'Nonfat Latte (Medium)']

In [31]:
df['Category'].unique()

array(['Breakfast', 'Beef & Pork', 'Chicken & Fish', 'Salads',
       'Snacks & Sides', 'Desserts', 'Beverages', 'Coffee & Tea',
       'Smoothies & Shakes'], dtype=object)

In [35]:
no_drinks = df[(df['Category'] != 'Beverages') & (df['Category'] != 'Coffee & Tea')]